* {
    margin: 0;
    padding: 0;
}
body {
    color: #283618;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
}

.container {
    background: #dda15e;
    border-radius: 25px;
    border: 20px black;
    margin: 30px;
    padding: 50px;
}

.title {
    text-align: center;
}

.title span {
    color: #fefae0;
}

.choice-container {
    margin-top: 10px;
    display: flex;
    width: 480px;
    flex-flow: row wrap;
    justify-content: space-around;
}

.choice {
    width: 200px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.selectable-choice {
    cursor: pointer;
}

.selectable-choice:hover {
    color: firebrick;
}

.selected-choice {
    color: #fefae0;
}

.status-action {
    display: grid;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 25px;
    font-weight: bold;
    grid-template-columns: repeat(2, 3fr);
    text-align: center;
}

.current-player {
    color: red;
}

.status-action span {
    color: #fefae0;
}

.reset {
    cursor: pointer;
}

.reset:hover {
    color: #fefae0;
}

.game-grid {
    display: grid;
    background-color: #283618;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 10px;
}

.game-cell {
    background-color: #dda15e;
    display: flex;
    cursor: pointer;
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
}

.x::after {
    content: "X";
    font-size: 130px;
}

.o::after {
    content: "O";
    font-size: 130px;
    color: #fefae0;
}

.winner::after {
    color: red;
}

.winnerText {
    color: red;
}
